
input.btn-info {
	background-color: #868e96;
	border-color: #868e96;
}

.marginBottom {
	margin-bottom: 30px;
}

.marginTop {
	margin-top: 30px;
}

.buttonMargin {
	margin-top: 6px;
	margin-bottom: 6px;
}

